<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Edit a product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn  btn-outline-secondary nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container d-flex flex-column align-items-center ">
        <h1>Edit the product </h1>


        <form action="#" th:action="@{/save}" th:object="${product}" method="post">
            <div class="form-row ">
                <div class="form-group col-12">
                    <label for="name">Product Id </label>
                    <input class="form-control" type="text" th:field="*{id}" id="id" name="product_id"
                        readonly="readonly">
                </div>

                <div class="form-group col-12">
                    <label for="name">Name </label>
                    <input class="form-control" type="text" th:field="*{name}" id="name" name="product_name">
                </div>

                <div class="form-group col-12">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" th:field="*{category}" id="category">
                        <option value="apple">Apple</option>
                        <option value="samsung">Samsung</option>
                        <option value="huawei">Huawei</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group col-12">
                    <label for="price">Price </label>
                    <input class="form-control" type="text" th:field="*{price}" id="price" name="price">
                </div>

                <div class="form-group my-3">
                    <button class=" btn btn-success" type="submit">Save</button>
                </div>

            </div>
        </form>
    </div>
</body>

</html>