<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

</html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn  btn-outline-secondary nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 class="text-center">Ecommerce with Springboot by Lili</h1>

        <div id="currencies">
            <h2 style="margin-top: 50px;">Currencies rates</h2>
            <div class="d-flex mb-3">
                <input class="input-group-text number" type="number">
                </input>
                <select class="btn btn-outline-secondary dropdown-toggle currency">

                </select>
            </div>
            <div class="d-flex ">
                <input class="input-group-text number" type="number">
                </input>
                <select class=" btn btn-outline-secondary dropdown-toggle currency">

                </select>
            </div>

        </div>

        <h2 class="mt-5"> The phones </h2>

        <div style="margin-bottom: 20px; ">
            <a class=" btn btn-success" href="new-product"> Add a product</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Favourites</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td th:text="${product.name}">Name</td>
                    <td th:text="${product.category}">Category</td>
                    <td th:text="${product.price}">Price</td>
                    <td>
                        <a class="btn btn-warning" th:href="@{'/edit/'+ ${product.id}}">Edit</a>
                        <a class="btn btn-danger" th:href="@{'/delete/'+ ${product.id}}">Delete</a>
                    </td>
                    <td>
                        <div class="form-group form-check" style="margin: 10px 20px">
                            <input type="checkbox" class="form-check-input" id="favori">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="margin-bottom: 100px; margin-top: 50px;" id="notifications">
            <h2> Nouveau utilisateur</h2>
            <div class=" d-flex align-items-center ">
                <img class="profil-picture" src="" alt="profil-picture" />
                <p class="name mb-0 ml-3"></p>
            </div>
        </div>

        <script src="js/script.js"></script>

    </div>
</body>

</html>