<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connexion</title>
</head>

<body>

    <main class="container">
        <h1>Connexion</h1>
        <!-- error message -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">L'email ou le mot de passe est incorrecte</div>
        </div>
        <!-- logout message -->
        <div th:if="${param.logout}">
            <div class="alert alert-info">Vous êtes déconnecté</div>
        </div>

        <form th:action="@{/login}" method="post">

            <div class="form-group">
                <label for="username"> Email </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Entrez votre email"
                    autofocus="autofocus">

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Entrez votre mot de passe" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary"
                            value="Se connecter" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span> Pas de compte ? <a href="/" th:href="@{/registration}">S'inscrire</a></span>
            </div>
        </form>

    </main>


</body>

</html>