<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inscription</title>
</head>

<body>

    <main class="container">
        <h1>Inscription</h1>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                Vous avez été inscrit avec succès!
            </div>
        </div>

        <form th:action="@{/registration}" method="post" th:object="${customer}">
            <div class="form-group">
                <label class="control-label" for="firstname"> Prénom</label>
                <input id="firstname" class="form-control" th:field="*{firstname}" required autofocus="autofocus">

                <label class="control-label" for="lastname"> Nom</label>
                <input id="lastname" class="form-control" th:field="*{lastname}" required autofocus="autofocus">

                <label class="control-label" for="email"> Email</label>
                <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">

                <label class="control-label" for="password"> Mot de passe</label>
                <input id="password" class="form-control" type="password" th:field="*{password}" required
                    autofocus="autofocus">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success"> Enregistrer</button>
                <span> Déjà un compte ? <a href="/" th:href="@{/login}">Se connecter</a></span>
            </div>
        </form>

    </main>


</body>

</html>